@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.tests {
    list-style-type: none;
    padding-left: 0;
}

.test-result {
    display: inline-block;
    margin: 0 1rem;
    width: 1rem;
    text-align: center;
}

[data-result=running] .test-result {
    animation: spin 2s infinite linear;
}

@keyframes spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(359deg); }
}

[data-result=ok] {
    color: limegreen;
}

[data-result=fail] {
    color: red;
}

.workspace {
    height: 1px;
    overflow: hidden;
}
